02-2 문자열 자료형

문자열(string)이란 문자, 단어 등으로 구성된 문자의 집합을 의미한다. 예를 들어 다음과 같은 것들이 문자열이다.

In [1]:
"Life is too short, You need Python"

'Life is too short, You need Python'

In [2]:
"a"

'a'

In [3]:
"123"

'123'

위의 문자열 예문을 보면 모두 큰따옴표(" ")로 둘러싸여 있다. '123은 숫자인데 왜 문자열이지?'라는 의문이 드는 독자도 있을 것이다. 따옴표로 둘러싸여 있으면 모두 문자열이라고 보면 된다.

문자열은 어떻게 만들고 사용할까?

위 예에서는 문자열을 만들 때 큰따옴표("")만을 사용했지만 이 외에도 문자열을 만드는 방법은 3가지가 더 있다. 파이썬에서 문자열을 만드는 방법은 총 4가지이다.

1. 큰따옴표(")로 양쪽 둘러싸기

In [4]:
"Hello World"

'Hello World'

2. 작은따옴표(')로 양쪽 둘러싸기

In [5]:
'Python is fun'

'Python is fun'

3. 큰따옴표 3개를 연속으로(""")으로 써서 양쪽 둘러싸기

In [6]:
"""Life is too short, You need python"""

'Life is too short, You need python'

4. 작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기

In [7]:
'''Life is too short, You need python'''

'Life is too short, You need python'

단순함이 자랑인 파이썬이 문자열을 만드는 방법은 왜 4가지나 가지게 되었을까? 그 이유에 대해 알아보자.

문자열 안에 작은 따옴표나 큰 따옴표를 포함시키고 싶을 때

문자열을 만들어 주는 주인공은 작은따옴표(')와 큰따옴표(")이다. 그런데 문자열 안에도 작은 따옴표와 큰따옴표가 들어 있어야 할 경우가 있다. 이때는 좀 더 특별한 기술이 필요하다. 예제를 하나씩 살펴보면서 원리를 익혀 보자.

1. 문자열에 작은따옴표(') 포함시키기

In [9]:
Python's favorite food is perl

SyntaxError: unterminated string literal (detected at line 1) (2917458957.py, line 1)

위와 같은 문자열을 food 변수에 저장하고 싶다고 가정하자. 문자열 중 Python's에 작은따옴표(')가 포함되어 있다.
이럴 때는 다음과 같이 문자열을 나타내기 위한 기호로 인식되지 않는다.

In [10]:
food = "Python's favorite food is perl"

In [11]:
food

"Python's favorite food is perl"

시험 삼아 다음과 같이 큰따옴표(")가 아닌 작은따옴표(')로 문자열을 둘러싼 후 다시 실행해보자. 'Python'이 문자열로 인식되어 구문 오류(SyntaxError)가 발생할 것이다.

In [ ]:
food = 'Python's favorite food is perl'

2. 문자열에 큰따옴표(") 포함시키기

In [12]:
"Python is very easy." he says.

SyntaxError: invalid syntax (2498016959.py, line 1)

In [13]:
say = '"Python is very easy." he says.'

이렇게 작은따옴표(')안에 사용된 큰따옴표(")는 문자열을 만드는 기호로 인식되지 않는다.

3. 백슬래시(\)를 사용해

In [1]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

'I ate 10 apples. so I was sick for three days.'

In [2]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [3]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [4]:
"{0:<10}".format("hi")

'hi        '

In [5]:
"{0:>10}".format("hi")

'        hi'

In [6]:
"{0:^10}".format("hi")

'    hi    '

In [8]:
"{0:=^20}".format("hi")

'=========hi========='

In [9]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [10]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [12]:
"{{ and }}".format()

'{ and }'

In [13]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [14]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [15]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [16]:
f'{"hi":<10}'

'hi        '

In [17]:
f'{"hi":>10}'

'        hi'

In [18]:
f'{"hi":^10}'

'    hi    '

In [19]:
y=3.42134234
f'{y:0.4f}'

'3.4213'

In [20]:
f'{y:10.4f}'

'    3.4213'

In [21]:
f'{{ and }}'

'{ and }'

In [24]:
f'{"python":!^12}'

'!!!python!!!'

In [25]:
"{0:!^12}".format('python')

'!!!python!!!'

In [26]:
a = "hobby"
a.count('b')

2

In [27]:
a = "Python is the best choice"
a.find('b')

14

In [28]:
a.find('k')

-1

In [29]:
a = "Life is too short"
a.index('t')

8

In [30]:
a.index('k')

ValueError: substring not found

In [31]:
",".join('abcd')

'a,b,c,d'

In [32]:
','.join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [33]:
a = "hi"
a.upper()

'HI'

In [34]:
a = "HI"
a.lower()

'hi'

In [35]:
a = " hi "
a.lstrip()

'hi '

In [36]:
a = " hi "
a.rstrip()

' hi'

In [1]:
a = " hi "
a.strip()

'hi'

In [2]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [3]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [4]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']