In [215]:
odd = [1, 3, 5, 7, 9]

In [216]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [217]:
a = [1, 2, 3]
a

[1, 2, 3]

In [218]:
a[0]

1

In [219]:
a[0] + a[2]

4

In [220]:
a[-1]

3

In [221]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [222]:
a[0]

1

In [223]:
a[-1]

['a', 'b', 'c']

In [224]:
a[3]

['a', 'b', 'c']

In [225]:
a[-1][0]

'a'

In [226]:
a[-1][1]

'b'

In [227]:
a[-1][2]

'c'

In [228]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [229]:
a[2][2][0]

'Life'

In [230]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [231]:
a = [1, 2, 3]
len(a)

3

In [232]:
a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
str(a[2]) + "hi"

'3hi'

In [ ]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [ ]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [ ]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [ ]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [ ]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [ ]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [ ]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [ ]:
a = [1, 2, 3]
a.index(3)

2

In [ ]:
a.index(1)

0

In [233]:
a.index(0)

ValueError: 0 is not in list

In [236]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [239]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [244]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [245]:
a.remove(3)
a

[1, 2, 1, 2]

In [247]:
a = [1, 2, 3]
a.pop()

3

In [248]:
a = [1, 2, 3]
a.pop(1)

2

In [249]:
a = [1, 2, 3, 1]
a.count(1)

2

In [250]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [251]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]